<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do event:</strong>
  <%= @add_event.nome_do_event %>
</p>

<p>
  <strong>Local do evento:</strong>
  <%= @add_event.local_do_evento %>
</p>

<p>
  <strong>Data do evento:</strong>
  <%= @add_event.data_do_evento %>
</p>

<p>
  <strong>Hora do event:</strong>
  <%= @add_event.hora_do_event %>
</p>

<p>
  <strong>Descricao do evento:</strong>
  <%= @add_event.descricao_do_evento %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @add_event.slug %>
</p>

<%= link_to 'Edit', edit_add_event_path(@add_event) %> |
<%= link_to 'Back', add_events_path %>
